@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex justify-content-center">
    
    <div class="card " style="width: 50rem;">
        <img class="card-img-top" src="~/BTZTransIMG.png" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title">Informações da empresa BTZ Transports</h3>
            <p class="card-text">Endereço: Av. das Palmeiras, 40 – Maringá – PR</p>
            <p class="card-text">Contato: (44) 3246-4144 / (44) 99999-8888 (whats)</p>
            <p class="card-text">Horário de atendimento: seg/sex – 08h00 – 22h00</p>
            <p class="card-text">Horário de atendimento: seg/sex – 08h00 – 22h00</p>
          
        </div>
    </div>
</div>
