@using BTZTransportExpress.Models.Enums
@model BTZTransportExpress.Models.Veiculo

@{
    ViewData["Title"] = "Create";
}

<h1>Veiculos</h1>

<h4>Cadastro de Veiculos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Placa" class="control-label"></label>
                <input asp-for="Placa" class="form-control" />
                <span asp-validation-for="Placa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeVeiculo" class="control-label"></label>
                <input asp-for="NomeVeiculo" class="form-control" />
                <span asp-validation-for="NomeVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCombustivel" class="control-label"></label>
                <select asp-for="TipoCombustivel" class="form-control"asp-items="Html.GetEnumSelectList<TipoCombustivel>()"></select>
                <span asp-validation-for="TipoCombustivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fabricante" class="control-label"></label>
                <input asp-for="Fabricante" class="form-control" />
                <span asp-validation-for="Fabricante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnoFabricacao" class="control-label"></label>
                <input asp-for="AnoFabricacao" class="form-control" />
                <span asp-validation-for="AnoFabricacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxTanque" class="control-label"></label>
                <input asp-for="MaxTanque" class="form-control" />
                <span asp-validation-for="MaxTanque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
