@using BTZTransportExpress.Models.Enums
@model BTZTransportExpress.Models.Abastecimento

@{
    ViewData["Title"] = "Edit";
}

<h1>Abastecimentos</h1>

<h4>Abastecimentos</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="VeiculoId" class="control-label"></label>
                <select asp-for="VeiculoId" class="form-control" asp-items="ViewBag.VeiculoId"></select>
                <span asp-validation-for="VeiculoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MotoristaId" class="control-label"></label>
                <select asp-for="MotoristaId" class="form-control" asp-items="ViewBag.MotoristaId"></select>
                <span asp-validation-for="MotoristaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoCombustivel" class="control-label"></label>
                <select asp-for="TipoCombustivel" class="form-control"asp-items="Html.GetEnumSelectList<TipoCombustivel>()"></select>
                <span asp-validation-for="TipoCombustivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantidadeCombustivel" class="control-label"></label>
                <input asp-for="QuantidadeCombustivel" class="form-control" />
                <span asp-validation-for="QuantidadeCombustivel" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
